{% extends "base.html" %} {% block body %}
{% load static %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }} background-{{ message.tags }}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="icofont icofont-close-line-circled text-white"></i>
    </button>
    <strong>{{message}}</strong>
</div>
{% endfor %}	


<!-- Page Content -->
<div class="content">
	<div class="container-fluid">

		<div class="row">
			{% include 'home/sidebar-filter.html' %}
			
			<div class="col-md-12 col-lg-8 col-xl-9">
				
				
							
				<!-- Doctor Widget -->
				{% for hosp in hospitals %}
				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							<div class="doc-info-left">
								<div class="doctor-img">
									<a href="doctor-profile.html">
										<img src="{{hosp.picture.url}}" class="img-fluid" alt="Hospital Image">
									</a>
								</div>
								<div class="doc-info-cont">
									<h4 class="doc-name"><a href="">{{hosp.name}}</a></h4>
									<p class="doc-speciality">{{hosp.location}}</p>
									<p class="doc-department"><img src="{{hosp.speciality.image.url}}" class="img-fluid" alt="Speciality">{{hosp.speciality}}</p>
									<div class="rating">
										<span class="d-inline-block average-rating badge">Total Reviews: {{hosp.doctor.all.0.review.all|length}}</span>
									</div>
									<div class="clinic-details">
										<p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{hosp.address}}</p>
										<ul class="clinic-gallery">
											{% for image in hosp.doctor.all.0.image.all %}
											<li>
												<a href="{{image.image.url}}" data-fancybox="gallery">
													<img src="{{image.image.url}}" alt="Feature">
												</a>
											</li>
											{% endfor %}
										</ul>
									</div>
									<div class="clinic-services">
										{% for service in hosp.doctor.all.0.service.all %}
										<span> {{service.name}}</span>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="doc-info-right">
								<div class="clini-infos">

								</div>
								<div class="clinic-booking">
									<a class="view-pro-btn" href="{% url 'home:hospital' slug=hosp.slug %}">View Hospital</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Doctor Widget -->
				{% endfor %}

				

				
			</div>
		</div>

	</div>

</div>		
<!-- /Page Content -->
   
{% endblock body %}